/*text*/ 
$txtclr : #6b717f;
$hclr : #af3448c2;
$txtclr2 : #9e363f;
/*backgrounds*/ 
$backclr : #fff;
$backclr2 : #000;
$backclr3 : rgb(67, 155, 67);
$backclr4 : rgb(218, 65, 65);
$backclr5 : rgb(212, 154, 45);
/*borders*/ 
$bdclr : #8C8C8C;
$bdclr2 : #6b717f;

/*main*/
 $padmr : padding 32*2, 0;